@model Real_Estate.Core.Application.ViewModels.Users.UpdateUserViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
      
</div>
</body>
</html>